
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
  
  @media (prefers-reduced-motion: reduce) {
    .marquee {
      animation: none;
      overflow: visible;
      direction: unset;
      white-space: wrap;
      
    }
  }
  .iconpersonal{
    padding: 1rem 1rem 1rem 1rem;
    margin-top:50%;
    background-color: rgba(255, 166, 0, 0.568);
  }
  .iconpersonal2{
    padding: 1rem 1rem 1rem 1rem;

    background-color: rgba(255, 166, 0, 0.568);
  }
  
  .marquee {
    will-change: transform;
    display: inline-block;
    animation: marquee 15s linear infinite;
    overflow: hidden;
    direction: rtl;
    white-space: nowrap;
    mask-repeat: repeat;
    color:white;
    
  }
 

  .runtext{
    background: rgba(0, 0,0, 0.8);;
  }
  
  main {
    padding: 20px;
    border: 1px solid black;
  }

  